server:
  port: 8888

spring:
  application:
    name: config-service
  cloud:
    config:
      server:
        git:
          uri: https://github.com/your-repo/config-repo
          default-label: main
          skip-ssl-validation: true
          clone-on-start: true
          force-pull: true
  security:
    user:
      name: config
      password: config123

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics